In [137]:
import math
import warnings  
from tqdm import tqdm
import time
import pandas as pd
import os

import matplotlib.pyplot as plt
plt.rcParams['font.sans-serif'] = ['Microsoft JhengHei']

In [138]:
lis = ['data', 'vis', 'sub']
for i in lis:
    if os.path.isdir(i):
        print("%-5s目錄存在，不建立。"%i)
    else:
        os.makedirs(i)

data 目錄存在，不建立。
vis  目錄存在，不建立。
sub  目錄存在，不建立。

In [139]:
filename = './data/train.csv'
df = pd.read_csv(filename)

test_filename = './data/test.csv'
test = pd.read_csv(test_filename)

## Note
- y = LEVEL
- 文字: Station, County, Location
- 有nan

In [140]:
df.columns

Index(['Station', 'Season', 'County', 'Location', 'Lat', 'Lon', '縣市', '海岸段',
       'Region', 'Seat', 'Shore shape', 'Substrate type', '1暴露岩岸', '2暴露人造結構物',
       '3暴露岩盤', '4沙灘', '5砂礫混合灘', '6礫石灘', '7開闊潮間帶', '8遮蔽岩岸', '9遮蔽潮間帶', '10遮蔽濕地',
       'Plastic bottle container', 'Disposable cup / straw / tableware',
       'Plastic bag', 'Foam material', 'Float', 'Fishing nets and ropes',
       'Fishing equipment', 'Cigarette and lighter', 'Glass jar', 'Metal',
       'Paper', 'Others', 'LEVEL'],
      dtype='object')

In [141]:
df.columns[df.isna().any()]

Index(['1暴露岩岸', '2暴露人造結構物', '3暴露岩盤', '4沙灘', '5砂礫混合灘', '6礫石灘', '7開闊潮間帶',
       '8遮蔽岩岸', '9遮蔽潮間帶', '10遮蔽濕地'],
      dtype='object')

In [142]:
print(len(df))
print(len(df[df.isna().T.any()]))

319
76

In [143]:
a = df[df.isna().T.any()]
a.loc[:,a.isna().any()]

# 所有包含缺失值的資料

     1暴露岩岸  2暴露人造結構物  3暴露岩盤  4沙灘  5砂礫混合灘  6礫石灘  7開闊潮間帶  8遮蔽岩岸  9遮蔽潮間帶  10遮蔽濕地
3      NaN       NaN    NaN  NaN     NaN   NaN     NaN    NaN     NaN     NaN
7      NaN       NaN    NaN  NaN     NaN   NaN     NaN    NaN     NaN     NaN
11     NaN       NaN    NaN  NaN     NaN   NaN     NaN    NaN     NaN     NaN
15     NaN       NaN    NaN  NaN     NaN   NaN     NaN    NaN     NaN     NaN
19     NaN       NaN    NaN  NaN     NaN   NaN     NaN    NaN     NaN     NaN
..     ...       ...    ...  ...     ...   ...     ...    ...     ...     ...
302    NaN       NaN    NaN  NaN     NaN   NaN     NaN    NaN     NaN     NaN
306    NaN       NaN    NaN  NaN     NaN   NaN     NaN    NaN     NaN     NaN
310    NaN       NaN    NaN  NaN     NaN   NaN     NaN    NaN     NaN     NaN
314    NaN       NaN    NaN  NaN     NaN   NaN     NaN    NaN     NaN     NaN
318    NaN       NaN    NaN  NaN     NaN   NaN     NaN    NaN     NaN     NaN

[76 rows x 10 columns]

In [144]:
a['Season'].unique()

# 發現都出現在Season = 4的時候 可能冬天沒去看?

array([4])

In [145]:
df.loc[:,df.isna().any()]

     1暴露岩岸  2暴露人造結構物  3暴露岩盤  4沙灘  5砂礫混合灘  6礫石灘  7開闊潮間帶  8遮蔽岩岸  9遮蔽潮間帶  10遮蔽濕地
0      0.0       0.0    1.0  0.0     0.0   0.0     1.0    0.0     0.0     0.0
1      0.0       0.0    1.0  0.0     0.0   0.0     0.0    0.0     0.0     0.0
2      0.0       0.0    1.0  0.0     0.0   0.0     0.0    0.0     0.0     0.0
3      NaN       NaN    NaN  NaN     NaN   NaN     NaN    NaN     NaN     NaN
4      0.0       0.0    0.0  1.0     0.0   0.0     0.0    0.0     0.0     0.0
..     ...       ...    ...  ...     ...   ...     ...    ...     ...     ...
314    NaN       NaN    NaN  NaN     NaN   NaN     NaN    NaN     NaN     NaN
315    0.0       0.0    0.0  1.0     0.0   0.0     0.0    0.0     0.0     0.0
316    0.0       1.0    0.0  1.0     0.0   0.0     0.0    0.0     0.0     0.0
317    0.0       0.0    0.0  0.0     0.0   1.0     0.0    0.0     0.0     0.0
318    NaN       NaN    NaN  NaN     NaN   NaN     NaN    NaN     NaN     NaN

[319 rows x 10 columns]

## 把Season 4的部分用眾數補起來

In [146]:
df_copy = df.copy()
nan_col = df_copy.columns[df_copy.isna().any()]

lis = df_copy['Station'].unique()
print(lis)
for i in lis:
    cond = df_copy['Station'] == i
    
    df_copy.loc[cond, nan_col] = df_copy.loc[cond, nan_col].fillna(0, axis = 0)
    df_copy.loc[cond, nan_col] = df_copy.loc[cond, nan_col].mode().values[0]

['E02' 'E03' 'E05' 'E06' 'E08' 'E09' 'HL02' 'HL03' 'HL05' 'HL06' 'HL08'
 'HL09' 'HL11' 'HL12' 'M01' 'M02' 'M04' 'M05' 'M07' 'M08' 'M10' 'M11'
 'M13' 'M14' 'M16' 'M17' 'M19' 'M20' 'M22' 'M23' 'N01' 'N02' 'N04' 'N05'
 'N07' 'N08' 'N10' 'N11' 'N13' 'N14' 'N16' 'N17' 'N19' 'N20' 'N22' 'N23'
 'SE03' 'SE04' 'SE06' 'SE07' 'SE09' 'SE10' 'SE12' 'SE13' 'SE15' 'SE16'
 'SE18' 'SE19' 'SE21' 'SE22' 'SE24' 'SW01' 'SW03' 'SW04' 'SW06' 'SW07'
 'SW09' 'SW10' 'SW12' 'SW13' 'SW15' 'SW16' 'SW18' 'SW19' 'SW21' 'SW22'
 'SW24' 'SW25' 'TT02' 'TT03']

## drop column

In [147]:
df_copy.pop('County')
df_copy.pop('Station')
df_copy.pop('Location')

0              大溪
1              大溪
2              大溪
3              大溪
4              頭城
          ...
314            長光
315           白桑安
316    白桑安/長濱觀景平台
317    白桑安/長濱觀景平台
318            寜埔
Name: Location, Length: 319, dtype: object

In [148]:
df_train = df_copy.copy()

## 有文字的用label enc 換掉
Station, County, Location

In [112]:
# from sklearn import preprocessing
# le = preprocessing.LabelEncoder()

# # lis = ['Station', 'County', 'Location']
# lis = list(df.dtypes[df.dtypes == 'object'].index)

# labelEnc_dict = dict() 
# for i in lis:
#     labelEnc_dict[i] = preprocessing.LabelEncoder()
#     labelEnc_dict[i].fit(df_copy[i])
#     df_copy.loc[:, i] = labelEnc_dict[i].transform(df_copy[i])
# df_copy

In [113]:
import pandas as pd
from sklearn import preprocessing
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
# from sklearn.metrics import mean_absolute_error, r2_score, mean_squared_error

from xgboost import XGBRegressor
from sklearn.svm import SVR

def xgb_model(epochs, objective, booster, max_depth):
    model = XGBRegressor(n_estimators = epochs,
                         max_depth = max_depth,
                         objective = objective,
                         tree_method = 'gpu_hist',
                         booster = booster,
                         verbosity = 1)
    return model

def lr_curve(results, ylabel, title):
    keys = list(results.keys())
    item = list(results[keys[0]].keys())[0]
    epochs = len(results[keys[0]][item])
    x_axis = range(0, epochs)
    
    fig, ax = plt.subplots(figsize=(6, 6))
    ax.plot(x_axis, results["validation_0"][item], label="Train")
    ax.plot(x_axis, results["validation_1"][item], label="Test")
    ax.legend()
    plt.ylabel(ylabel)
    plt.title(title)
    plt.show()

# def eva_metric(y_true, y_pred):
#     dic = {
#         'f1_score':f1_score,
#        'confusion_matrix': confusion_matrix,
#        'multilabel_confusion_matrix': multilabel_confusion_matrix}
    
#     r2 = []
#     eval_res = {}
#     for i in dic.keys():
#         if i == 'f1_score':
# #             r2.append(score)
#             score = dic[i](y_true, y_pred, average = 'macro')
#         else:
#             score = dic[i](y_true, y_pred)
# #         print(i, score)
#         eval_res[i] = score

#     return eval_res

In [114]:
import seaborn as sns 
import matplotlib.pyplot as plt
from sklearn.metrics import f1_score, average_precision_score, multilabel_confusion_matrix, confusion_matrix

def confusion_matrix_eval(y_true, y_pred, classes):
    eva_result = dict()
    eva_result['confusion_matrix'] = confusion_matrix(y_true, y_pred)
    eva_result['multilabel_confusion_matrix'] = multilabel_confusion_matrix(y_true, y_pred, labels=range(classes))
    
    sns.heatmap(eva_result['confusion_matrix'], annot=True)
    plt.title('樣本總數: '+str(np.sum(eva_result['confusion_matrix'])))
    plt.show()

    # 各個類別的混淆矩陣
    plt.figure(12, figsize=(28,15))
    num = len(eva_result['multilabel_confusion_matrix'])
#     print(eva_result['multilabel_confusion_matrix'])
    positive = np.unique(y_true, return_counts=True)[1]
    for tmp in range(1, num+1):
        plt.subplot(3, (num//2), tmp)
        a = np.array(eva_result['multilabel_confusion_matrix'][tmp-1])

        sns.heatmap(a, annot=True)
        plt.title('樣本總數: '+str(np.sum(a))+' 正樣本占比: '+'%d / %d' % (positive[tmp-1], np.sum(a)))
    plt.show()

In [115]:
def eva_metric(y_true, y_pred):
    dic = {'mse':mean_squared_error,
       'mae': mean_absolute_error,
       'r2_score': r2_score}
    
    r2 = []
    eval_res = {}
    for i in dic.keys():
        score = dic[i](y_true, y_pred)
#         print(i, score)
        eval_res[i] = score
        if i == 'r2_score':
            r2.append(score)
    return eval_res

In [116]:
X = df_copy.copy()
y = X.pop('LEVEL')

In [117]:
import autosklearn.classification
import sklearn.model_selection
import sklearn.datasets
import sklearn.metrics
import pickle

# X, y = sklearn.datasets.load_iris(return_X_y=True)
X_train, X_test, y_train, y_test = \
    sklearn.model_selection.train_test_split(X, y, test_size = 0.3, random_state=12)

automl = autosklearn.classification.AutoSklearnClassifier(
    time_left_for_this_task=600,
    per_run_time_limit=80,
#     tmp_folder='./tmp/autosklearn_parallel_1_example_tmp',
#     output_folder='./tmp/autosklearn_parallel_1_example_out',
#     include_estimators = ['random_forest', 'libsvm_svc', ],
#     resampling_strategy='holdout',
#     resampling_strategy_arguments={'train_size': 0.8},
    resampling_strategy='cv',
    resampling_strategy_arguments={'folds': 5},
    ensemble_nbest = 30, 
    
    
    n_jobs=8,
    # Each one of the 4 jobs is allocated 3GB
    memory_limit=10240,
    seed=5,
)
automl.fit(X_train, y_train, dataset_name='ocean_001')

# Print statistics about the auto-sklearn run such as number of
# iterations, number of models failed with a time out.
print(automl.sprint_statistics())
y_hat = automl.predict(X_test)
print("Accuracy score", sklearn.metrics.accuracy_score(y_test, y_hat))



# save model
with open('./tmp/iris-classifier.pkl', 'wb') as f:
    pickle.dump(automl, f)

# load model
with open('./tmp/iris-classifier.pkl', 'rb') as f:
    loaded_classifier = pickle.load(f)

auto-sklearn results:
  Dataset name: ocean_001
  Metric: accuracy
  Best validation score: 0.313901
  Number of target algorithm runs: 246
  Number of successful target algorithm runs: 242
  Number of crashed target algorithm runs: 2
  Number of target algorithms that exceeded the time limit: 2
  Number of target algorithms that exceeded the memory limit: 0

Accuracy score 0.3125

In [118]:
test_filename = './data/test.csv'
df = pd.read_csv(test_filename)

tmp = pd.read_csv('data/submission.csv')
tmp.head()

      ID  LEVEL
0  E01_1    NaN
1  E01_2    NaN
2  E01_3    NaN
3  E01_4    NaN
4  E04_1    NaN

## 把地理因素補起來

In [119]:
df_copy = df.copy()
nan_col = df_copy.columns[df_copy.isna().any()]

lis = df_copy['Station'].unique()
print(lis)
for i in lis:
    cond = df_copy['Station'] == i
    
    df_copy.loc[cond, nan_col] = df_copy.loc[cond, nan_col].fillna(0, axis = 0)
    df_copy.loc[cond, nan_col] = df_copy.loc[cond, nan_col].mode().values[0]

['E01' 'E04' 'E07' 'HL01' 'HL04' 'HL07' 'HL10' 'LI10' 'M03' 'M06' 'M09'
 'M12' 'M15' 'M18' 'M21' 'M24' 'N03' 'N06' 'N09' 'N12' 'N15' 'N18' 'N21'
 'N24' 'SE05' 'SE08' 'SE11' 'SE14' 'SE17' 'SE20' 'SE23' 'SW02' 'SW05'
 'SW08' 'SW11' 'SW14' 'SW17' 'SW20' 'SW23' 'TT01' 'TT04']

# 做submmision

In [120]:
df_copy.pop('County')
df_copy.pop('Station')
df_copy.pop('Location')

0       石城
1       石城
2       石城
3       石城
4       永鎮
      ...
158    八仙北
159    石雨傘
160    石雨傘
161    石雨傘
162    石雨傘
Name: Location, Length: 163, dtype: object

In [121]:
import pickle


with open('./tmp/iris-classifier.pkl', 'rb') as f:
    loaded_classifier = pickle.load(f)

In [122]:
import datetime
now_time = datetime.datetime.now()
now_time = datetime.datetime.now().strftime('%Y-%m-%d %H:%M:%S')
now_time

'2021-06-05 15:21:20'

In [123]:
y_pred = loaded_classifier.predict(df_copy)

tmp = pd.read_csv('data/submission.csv')
tmp.loc[:, 'LEVEL'] = y_pred
tmp.to_csv('./sub/'+now_time+'_auto_sklearn.csv', index = False)

In [125]:
def new_report(test_report):
    lists = os.listdir(test_report)                                    #列出目錄的下所有文件和文件夾保存到lists
    print(list)
    lists.sort(key=lambda fn:os.path.getmtime(test_report + "/" + fn))#按時間排序
    file_new = os.path.join(test_report,lists[-1])                     #獲取最新的文件保存到file_new
    print(file_new)
    return file_new

In [126]:
if __name__=="__main__":
    test_report="sub"   #目錄地址
    new_report(test_report)

<class 'list'>
sub/2021-06-05 15:21:20_auto_sklearn.csv

In [153]:
a = pd.read_csv(new_report(test_report))['LEVEL']
b = pd.read_csv('sub/auto_sklearn (1).csv')['LEVEL']


print(np.array_equiv(a,b))
tmp = np.where(a!=b)[0]
print(len(tmp))

<class 'list'>
sub/2021-06-05 15:21:20_auto_sklearn.csv
False
115

兩個答案不重複的這麼多? 實際上差異的東西看起來會不會是排名上差1或2? 是否表示跟排名上有些許差異。

In [154]:
# test data
print(a[np.where(a!=b)[0]].values)
print(b[np.where(a!=b)[0]].values)

[5 5 5 5 5 5 5 5 6 6 6 6 2 2 2 2 2 4 4 4 4 6 6 6 8 8 8 8 6 3 3 3 3 6 5 5 5
 5 7 7 7 7 7 7 7 7 6 6 2 4 4 4 4 8 8 8 8 8 8 8 2 2 2 8 8 8 2 2 2 2 2 2 2 2
 3 3 3 3 3 3 3 3 3 3 3 3 5 5 5 6 6 6 6 6 6 6 6 6 5 5 5 7 7 7 2 2 6 6 6 2 2
 3 3 3 3]
[ 2  7  7  7  7  7  7  7  4  2  1  2  1  1  7  7  1  7  1  2  2  7  7  2
  6 10  6  6 10  6  6  6  6 10  6  6  6  6  2  2  2 10  6  6 10  6  2  2
 10  2  2  2  2  9  9  9  2  2  2  2  9  8  8  9  2  2  8  8  8  8  7  1
  1  1  2  2  2  2  5  7  7  7  5  5  1  1  3  3  3  5  5  5  7  7  5  7
  5  3  3  3  3  2  9  2  5  6  9  5  2  1  1  2  2  7  2]

In [ ]:
# 差太多了，思路不一樣，XGB那邊是用reg去側，然後四捨五入。autosklearn是直接分類
# 005版